/* your styles go here */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    -ms-word-wrap: break-word;
    word-wrap:break-word;
}

.services .icon .img-responsive {
    width: 85px;
}

.pl-icons .icon{
    cursor: default;
    display: inline-block;
    margin: 10px 20px;
}

.reference-item{
    width:  350px;
}
.reference-item .reference a {
    height: 300px;
}

.reference-item .reference.p1 a {
    background: #5091da url("../img/slider/p1-slider1.jpg") no-repeat scroll 0 0 / cover ;
}

.reference-item .reference.p2 a {
    background: #5091da url("../img/slider/p2-slider4.jpg") no-repeat scroll 0 0 / cover ;
}
.reference-item .reference.p3 a {
    background: #5091da url("../img/slider/p3-slider1.png") no-repeat scroll 0 0 / cover ;
}

.reference-item .reference.p4 a {
    background: #5091da url("../img/slider/p4-slider1.png") no-repeat scroll 0 0 / cover ;
}

.reference-item .reference.p5 a {
    background: #5091da url("../img/slider/p5-slider1.png") no-repeat scroll 0 0 / cover ;
}

.reference-item .reference.p6 a {
    background: #5091da url("../img/slider/p6-slider1.png") no-repeat scroll 0 0 / cover ;
}

.reference-item .reference.p7 a {
    background: #5091da url("../img/slider/p7-slider1.png") no-repeat scroll 0 0 / cover ;
}

.reference-item .reference.p8 a {
    background: #5091da url("../img/slider/p8-slider1.png") no-repeat scroll 0 0 / cover ;
}

.reference-item .reference.p9 a {
    background: #5091da url("../img/slider/p9-slider1.png") no-repeat scroll 0 0 / cover ;
}

.contact form select {
    margin-top: 20px;
}

#footer{
    padding-bottom: 20px;
}
#footer p.template-bootstrapious{
    opacity: .3;
    margin-top: 50px;
}

.navbar-brand {
    display: block;
    padding: 5px 0;
    width: 100px;
}

.navbar-brand img{
    width: 100%;
}

.carousel-caption{
    bottom: 50px;
}